*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
config/jwt.php
config/auth.php
config/sanctum.php
database/migrations/2025_12_20_105631_create_personal_access_tokens_table.php
config/auth.php
routes/api.php
composer.json
composer.lock
package-lock.json
composer.lock
